[Unit]
Description=init db

[Service]
Type=oneshot
ExecStart=/usr/local/bin/flask init-db
EnvironmentFile=/etc/default/KaguraMeaLive
WorkingDirectory=/srv/KaguraMeaLive

[Install]
WantedBy=multi-user.target