[Unit]
Description=KaguraMeaLive Bot backend
AssertPathExists=/srv/KaguraMeaLive

[Service]
Type=simple
EnvironmentFile=/etc/default/KaguraMeaLive
WorkingDirectory=/srv/KaguraMeaLive
ExecStart=/usr/local/bin/flask run --port 5010
Restart=on-failure

[Install]
WantedBy=multi-user.target